* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button {
  border: none;
  font-family: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: white;
  background: #181716;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap {
  display: flex;
  gap: 2rem;
}

.alignMargin {
  padding: 1rem 1.5rem;
}

.loading-div {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}


.loading-img {
  background-image: url("/Loading.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center -260%;
  /* outline: auto; */
  width: inherit;
  height: 50%;

  animation-name: loading;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}

.header {
  /* background-color: white; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}

.nav-header-div {
  display: none;
}

main {
  height: max-content;
  width: 100%;

}

.hero {
  background-color: inherit;
  background-image: url("/davidHeroImg.webp");
  /* padding: 15.8rem 0; */
  /* height: 90vh; */
  background-position: right;
  background-size: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);


  /* background-repeat: no-repeat; */
  /* outline: auto; */
  /* background-blend-mode: lighten; */


  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* position: relative; */
  /* justify-content: center; */
  /* z-index: 0; */

  /* filter: blur(3px);
  -webkit-filter: blur(3px); */

}

.blur-bg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  background-color: rgba(0, 0, 0, 0.5);
  /* height: inherit; */
  padding: 5.8rem 0rem 7rem 0rem;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.bg-text {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  color: #FFF;
  text-align: center;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.75rem;
  max-width: min-content;
}

.stream-text {
  color: #FFF;
  text-align: center;
  font-size: .9rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 1.925rem; */
  /* 200% */
  letter-spacing: 0.39rem;
  text-transform: uppercase;
}

.icon-container {
  display: inline-flex;
  gap: 1rem;
}

.icon-bg {
  /* height: 2rem;
  width: 2rem; */
  padding: .4rem;
  background-color: #181716;
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 0.50);
  aspect-ratio: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DavidNathanImg2 {
  width: 100%;
  /* height: 60vh; */
  height: 30.8125rem;
  flex-shrink: 0;
}

.icon {
  width: 1rem;
  color: white;
  cursor: pointer;
}

.vid {
  max-width: 100%;
  /* max-height: 70vh; */
}

.backgroundImg1-div {
  background-color: inherit;
  /* background: url("/video.mp4"); */
  /* min-width: 100%; */
  /* min-height: 100%; */
  /* height: ; */
  /* padding: 15.8rem 0; */
  /* background-position: right; */
  /* background-size: cover; */

  width: 100vw;
  height: 70vh;
  object-fit: cover;
  /* object-position: center; */
  /* position: fixed; */
  /* left: 0; */
  /* right: 0; */
  /* top: 0; */
  /* bottom: 0; */
  z-index: -1;


}

.music-player {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  align-items: center;
  justify-content: space-around;

  /* width: 497px; */
  /* height: 29rem;*/
  height: 100vh;
  width: 100vw;
}

.subtitle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-header {
  color: #FFF;
  text-align: center;
  /* font-family: Oswald; */
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
  text-transform: uppercase;
  /* letter-spacing: .1rem; */
  /* 221.538% */
}



.underline {
  width: 4.375rem;
  height: 0.1875rem;
  /* padding: 2rem; */
  background: #B08B4A;
}

.slider-div {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 1rem;

}

.music-title,
.listen-now-btn,
.day {
  color: #FFF;
  text-align: center;
  /* font-family: Campton; */
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 300;
  /* line-height: 2.3075rem; */
  letter-spacing: .1rem;
  /* 230.75% */
}

.listen-now-btn {
  background-color: transparent;
  border: none;
  color: #B08B4A;
}

.upcoming-events {
  /* width: 25.1875rem;
  height: 42.625rem; */
  background-image: url("/calenderbg.webp");
  /* padding: 15.8rem 0; */
  /* height: 90vh; */
  background-position: left;
  background-size: cover;
  width: 100vw;
  height: 100vh;

}

.blur-bg-calender {
  gap: 4rem;

  background-color: rgba(0, 0, 0, 0.5);
  /* height: inherit; */
  /* padding: auto 1.5rem; */
  width: inherit;
  height: inherit;
  /* padding: 2.8rem 1.5rem 2rem 1.5rem; */

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.date-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  padding: 0 1.5rem;
  background-color: #181716;
  aspect-ratio: 1;
  border-radius: 4.25rem;

  color: #BC944E;
  text-align: center;
  font-size: 1.875rem;
  font-style: normal;
  /* font-weight: 700; */
  line-height: 2.75625rem;

  display: flex;
  align-items: center;
}

.date-in-words {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.month {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.46125rem;
  letter-spacing: 0.0875rem;
}

.location-div {
  gap: 1rem;
}

.location-header {
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3075rem;
  /* 142% */
}

.location-address-pgh {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.65375rem;
  width: 80%;
  text-align: center;
  letter-spacing: .1rem;
}

.event {
  gap: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.50);
  padding: 3rem 0;
}

.event-time {
  color: #8A8A8A;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.46125rem;
  letter-spacing: 0.0875rem;
}

.reserve-spot-btn {

  display: flex;
  min-width: fit-content;
  padding: 0.6875rem 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;


  background: #1A1A1A;
  color: #8A8A8A;

  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.95rem;
  letter-spacing: 0.04375rem;
  text-transform: uppercase;

  position: relative;
  isolation: isolate;
  overflow: hidden;
}


.reserve-spot-btn:hover,
.reserve-spot-btn:focus-visible {
  background-color: #181716;
}

.reserve-spot-btn>span {
  position: absolute;
  z-index: -1;
  width: 33.333%;
  height: 100%;

  background-color: transparent;
  opacity: 0.5;
}

.reserve-spot-btn>:first-child {
  top: 0;
  left: 0;
}

.reserve-spot-btn>:last-child {
  top: 0;
  right: 0;
}

.reserve-spot-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: black;
  /* background: hotpink; */
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;


  opacity: 0;
  transition: transform 500ms;

}


.reserve-spot-btn:active::before {
  transform: scale(20);
  opacity: 1;

  transition: transform 500ms opacity 500ms;
  ;
}

.reserve-spot-btn:has(:first-child:active)::before {
  /* background-color: red; */
  margin-left: 0;
}

.reserve-spot-btn:has(:last-child:active)::before {
  margin-right: 0;
}

.reserve-spot-btn:has(:first-child:active)::before,
.reserve-spot-btn:has(:last-child:active)::before {
  transition: transform 1000ms opacity 250ms;
}

.previous-event-btn {
  color: #BC944E;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3075rem;
  letter-spacing: .1rem;
}

.about {
  height: 100vh;
  justify-content: space-between;
  /* gap: .4rem; */
  /* padding-bottom: 1.5rem; */
  width: 100vw;
}


.backgroundImg2-div {
  background-color: inherit;
  background-image: url("/davidnathanaboutimg.webp");
  padding: 8.8rem 0;
  background-position: right;
  background-size: cover;

  /* height: 40%; */
  width: 100%;
}

/* .about-inner-div {
  height: 50%;
} */




.about-inner-div {
  padding: 0 1.5rem;
}

.about-pgh {
  color: #8A8A8A;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: .1rem;
  /* padding: 1rem; */
}

.read-more-btn {
  color: #BC944E;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.92px;
  letter-spacing: .1rem;
  /* 184.6% */
}

.social-div {
  flex-direction: row;
  gap: 1rem;
}

.socialmediaicon-div {
  border: solid #BC944E .1rem;
  padding: 0 .4rem;
  aspect-ratio: 1;
  border-radius: .3rem;
}

.socailmediaicon {
  width: 1rem;
  color: #BC944E;
  cursor: pointer;
}

.vidoes {
  gap: 2rem;
  padding: 4rem 1.5rem;
  width: 100vw;
}

.youtubeplayer {
  width: 100%;
  height: 315px
}


.gallery {
  align-self: center;
  justify-self: center;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 2rem 0;
  height: 60vh
}

.gallery-pgh {
  color: #8A8A8A;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.46px;
}

.gallery-container {
  display: flex;
  gap: .61rem;

  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;

  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.gallery-container::-webkit-scrollbar {
  display: none;
}

.galleryimg {
  width: 23.19056rem;
  height: 12.16456rem;
}

.contact {
  height: max-content;
  background: #1A1A1A;

  padding: 4rem 1.5rem;
  gap: 2rem;
  padding-bottom: 6rem;
}

.contactform {
  gap: 1rem;
}

.emailinput {
  border: none;

  display: flex;
  width: 20.5rem;
  height: 3.125rem;
  padding: 1rem 1.875rem 1.0625rem 1.875rem;
  justify-content: center;
  align-items: center;

  background: rgba(138, 138, 138, 0.22);
}

.submitinput-btn {
  border: none;

  display: flex;
  width: 20.5rem;
  height: 3.125rem;
  padding: 0.6875rem 0rem;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  letter-spacing: .1rem;

  background: #B08B4A;

  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.submitinput-btn:hover,
.submitinput-btn:focus-visible {
  background-color: #B08B4A;
}

.submitinput-btn>span {
  position: absolute;
  z-index: -1;
  width: 33.333%;
  height: 100%;

  background-color: transparent;
  opacity: 0.5;
}

.submitinput-btn>:first-child {
  top: 0;
  left: 0;
}

.submitinput-btn>:last-child {
  top: 0;
  right: 0;
}

.submitinput-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: black;
  /* background: hotpink; */
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;


  opacity: 0;
  transition: transform 500ms;

}


.submitinput-btn:active::before {
  transform: scale(20);
  opacity: 1;

  transition: transform 500ms opacity 500ms;
  ;
}

.submitinput-btn:has(:first-child:active)::before {
  /* background-color: red; */
  margin-left: 0;
}

.submitinput-btn:has(:last-child:active)::before {
  margin-right: 0;
}

.submitinput-btn:has(:first-child:active)::before,
.submitinput-btn:has(:last-child:active)::before {
  transition: transform 1000ms opacity 250ms;
}


.merch-shop {
  padding: 2.8rem 0rem 4rem 0rem;
  gap: 2rem;
  /* flex-direction: row; */
}

.merch-title {
  text-align: center;
  /* font-family: Oswald; */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3075rem;
  letter-spacing: .1rem;
  /* 184.6% */
}

.merch-price {
  color: #B08B4A;
}


/* magic btn merch */
.merch-btn {
  width: 6.44938rem;
  height: 2.19938rem;
  border: 2px solid #B08B4A;
  transition: background-color 250ms;

  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.merch-btn:hover,
.merch-btn:focus-visible {
  background-color: #B08B4A;
}

.merch-btn>span {
  position: absolute;
  z-index: -1;
  width: 33.333%;
  height: 100%;

  background-color: transparent;
  opacity: 0.5;
}

.merch-btn>:first-child {
  top: 0;
  left: 0;
}

.merch-btn>:last-child {
  top: 0;
  right: 0;
}

.merch-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: black;
  /* background: hotpink; */
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;


  opacity: 0;
  transition: transform 500ms;

}


.merch-btn:active::before {
  transform: scale(20);
  opacity: 1;

  transition: transform 500ms opacity 500ms;
  ;
}

.merch-btn:has(:first-child:active)::before {
  /* background-color: red; */
  margin-left: 0;
}

.merch-btn:has(:last-child:active)::before {
  margin-right: 0;
}

.merch-btn:has(:first-child:active)::before,
.merch-btn:has(:last-child:active)::before {
  transition: transform 1000ms opacity 250ms;
}

footer {
  background-image: url("/footerimg.webp");
  background-position: center;
  background-size: cover;

}

.footer-blur {
  padding: 2.8rem 3rem 4rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-inner-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.footer-contact-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  letter-spacing: .05rem;

}

.footerIcon {
  align-self: flex-start;
}

.underline-footer {
  align-self: flex-start;
}

ul {
  color: #FFF;
  /* font-family: Campton; */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  gap: 1rem;
  letter-spacing: .05rem;
}

li {
  align-self: flex-start;
  list-style: none;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  /* transform: translate(50%); */
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: .4;
    transform: translateX(-100vw);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.largerImgDiv {
  display: none;
}

.horizontalScroll-section {
  height: 200vh;
  /* align-items: center; */
}


.horizontalScroll {
  overflow: hidden;
  position: sticky;
  height: 100vh;
  position: -webkit-sticky;
  top: 0;
  display: flex;
}

.horizontalScroll-inner {
  display: flex;
  gap: 1rem;

  position: absolute;
  top: 0;
  height: 100%;
  /* width: 200vw; */
  will-change: scroll-position;
}

.gallery-container-new {
  position: absolute;
  top: 25%;
  left: 0;
  display: flex;
  gap: 1rem;
  width: max-content;
}

.card-div {
  position: relative;
  overflow: hidden;
  height: 260px;
  /* min-width: max-content; */
  min-width: 260px;
  border-radius: 0.75rem;
  padding: 1rem 0rem;

  justify-content: center;
  align-items: center;
}

.card-inner-div {
  position: absolute;
  inset: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-inner-div-1 {
  position: absolute;
  background: #000;
  pointer-events: none;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

.card-h1 {
  background: transparent;

  color: #fff;
  line-height: 26.46px;

  font-weight: 600;
  font-size: 1.2rem;
  z-index: 10;
  /* margin: 0; */
  padding: .4rem 2rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-h1>span {
  padding: 0;
  margin: 0;
}

.card-h1:hover {
  opacity: 0.75;
}

.coming-soon {
  display: flex;
  width: 16.875rem;
  padding: 0.625rem 0rem 0.62438rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.coming-soon-bg {
  width: 16.875rem;
  height: 16.375rem;
  background-color: #1A1A1A;
}

.comingIcon {
  font-size: 6rem;
}


.modal {
  display: none;
  position: absolute;
  z-index: 20;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);

}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.about-page {
  /* height: 100vh; */
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 1.5rem;
  width: 100vw;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 100;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


@media (min-width: 481px) and (max-width: 930px) {
  .hero-group {
    display: flex;
    flex-direction: column;
  }

  .hero {
    width: 100%;
    height: 90vh;
    order: 1;
    align-items: flex-end;
  }

  .backgroundImg1-div {
    width: 100%;
    height: 90vh;
    order: 2;

  }

  .bg-text {
    align-items: center;
    /* padding: 0rem 4rem 0 0rem; */
  }

  .blur-bg {
    height: inherit;
    padding: 0rem 4rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blur-bg-calender {
    /* justify-content: space-around; */
    /* gap: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* height: inherit; */
    /* width: inherit; */
    /* height: inherit; */
    /* padding: 2.8rem 1.5rem 2rem 1.5rem; */
    /* -webkit-backdrop-filter: blur(5px); */
    /* backdrop-filter: blur(5px); */

  }

  .about {
    height: 100vh;
    justify-content: space-around;
    /* gap: .4rem; */
    /* padding-bottom: 1.5rem; */
    width: 100vw;
    padding-bottom: 1rem;
  }

  .backgroundImg2-div {

    align-self: center;
    height: 45%;
    width: 80%;
  }

  .about-pgh {
    max-width: 70%;
  }

  .about-page-pgh {
    max-width: 90%;
  }

  .vidoes {
    gap: 2rem;
    padding: 4rem 1.5rem;
    width: 100vw;
    justify-content: space-around;
  }

  .youtubeplayer {
    max-width: 80%;
  }

  .footer {
    height: max-content;
    width: 100%;
  }

  .footer-blur {

    height: inherit;
    width: inherit;
    padding: 2.8rem 8rem 4rem 3rem;
  }


}


/* @media (max-width: 1130px) {
  .hero-text {
    text-align: right;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: .3rem;
  }
} */


@media only screen and (min-width: 931px) {

  /* For desktop: */

  html,
  body {
    font-size: 1.1rem;
  }

  .center {
    padding: 0rem 4rem;
  }

  .subtitle-header {

    font-size: 2.8rem;
    line-height: 3rem;

  }


  .hero-group {
    display: flex;
  }

  .hero {
    width: 50%;
    height: 90vh;
    order: 2;
    align-items: flex-end;
  }

  .backgroundImg1-div {
    width: 50%;
    height: 90vh;

  }

  .bg-text {
    align-items: flex-end;
    gap: 1rem;
    /* padding: 0rem 4rem 0 0rem; */
  }

  .blur-bg {
    height: inherit;
    padding: 0rem 4rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .hero-text {
    text-align: right;
    font-size: 4.5rem;
    /* font-size: clamp(4rem, 3.2188rem + 2.5vw, 5rem); */
    line-height: 4.5rem;
    letter-spacing: .3rem;
  }

  .heroheaderIcon {
    width: 8.75rem;
    height: 3.875rem;
  }

  .music-player {
    height: 100vh;
    width: 100vw;
  }

  .upcoming-events {
    height: 100vh;
    width: 100vw;
    /* width: 100vw; */
  }

  .blur-bg-calender {
    /* justify-content: space-between; */
    height: inherit;
  }

  .event {
    gap: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.50);
    padding: 3rem;
    flex-direction: row;
    max-width: 90%;
  }

  .about {
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    gap: .5rem;
    padding: 1rem 0rem;
  }

  .backgroundImg2-div {
    margin: 3rem auto;
    background-color: inherit;
    background-image: url("/davidnathanaboutimg.webp");
    background-position: 10% 30%;
    background-repeat: no-repeat;
    /* background-position: calc(50vh/2); */
    background-size: cover;
    /* padding: 25rem 0; */
    width: 70%;
    height: 50%;
  }

  .about-pgh {
    max-width: 50%;
  }

  .vidoes {
    width: 100vw;
  }

  .youtubeplayer {
    width: 70%;
    height: 560px;
  }

  .contact {
    max-width: 90%;
    margin: 0 auto;

    /* flex-direction: row; */
    align-items: center;
    justify-content: center;

    height: 14rem;
    padding: 2rem;
    gap: 2.5rem;
    margin-bottom: 2rem;
  }

  .contactform {
    flex-direction: row;
    gap: .4rem;
  }

  .subtitle-div {
    gap: 1rem;
  }

  .shopLarger {
    flex-direction: row;
    justify-content: start;
    max-width: 50%;
    gap: 1rem;

    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;

    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

  }

  .largerImgDiv {
    display: block;
    align-self: center;
    height: 70vh;
    width: 70%;
    background-position: center;
    background-size: cover;
    background-position: 10% 40%;
  }

  .galleryimgLarge {
    align-self: center;
    justify-self: center;
    width: 70%;
    height: 80vh;

  }

  .gallery-container {
    width: 70%;
    align-self: center;
  }

  .header {
    max-height: 15vh;
    flex-direction: column;
    padding-top: 0;
    /* gap: 1rem; */
  }

  .nav-header-div {
    display: block;
    width: max-content;
  }

  .hambuger {
    display: none;
  }


  .footer {
    height: max-content;
    width: 100%;
  }

  .footer-blur {
    /* align-items: center; */
    justify-content: center;
    display: flex;
    height: inherit;
    width: inherit;
    flex-direction: row;
    padding: 2.8rem 8rem 4rem 3rem;
  }

  .footer-inner-1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  nav {
    width: 35%;
    display: flex;
  }

  .ul {
    display: flex;
    flex-direction: row;
    max-width: max-content;
    align-self: flex-end;
  }

  li,
  a {
    width: max-content;
  }

  .reserve-spot-btn {
    width: 14.4375rem;
  }

  .horizontalScroll-section {
    height: 200vh;
    /* align-items: center; */
  }

  .horizontalScroll {
    overflow: hidden;
    position: sticky;
    height: 100vh;
    position: -webkit-sticky;
    top: 0;
    display: flex;
  }

  .horizontalScroll-inner {
    display: flex;
    gap: 1rem;

    position: absolute;
    top: 0;
    height: 100%;
    /* width: 200vw; */
    will-change: scroll-position;
  }

  .card-div {
    height: 360px;
    min-height: 360px;

  }

  .music-iframe {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .hero-text {
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: .3rem;
  }

  .blur-bg {
    height: inherit;
    padding: 0rem 4rem;
    padding-right: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}